body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url(images/mekong-green.png);
}

#name,
#about,
#portfolio,
#contact,
.container h4,
.container h3
 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

.container h3 {
    background-color: #4aaaa5;
    color: white;
    width: 25rem;
    height: 6rem;
    line-height: 6rem;
    margin: 0;
}

#about,
#portfolio,
#contact {
    color: #4aaaa5;
    /* width: 100% */
}

.footer {
    border-top: 0.5rem solid #4aaaa5;
    background-color: #666666;
    height: 4rem;
}

.footer h6 {
    color: #cccccc;
    line-height: 4rem;
    font-size: 0.5rem;
}

nav {
    border-bottom: 4px solid #cccccc;
}

.bio {
    line-height: 2rem;
}

nav .container {
    width: 60rem;
}

.pics {
    background: #4aaaa5;
    position: relative;
}

.pics h4 {
    width: 18.75rem;
    height: 4rem;
    line-height: 4rem;
    background: #4aaaa5;
    color: white;
    position: absolute;
    bottom: 0.5rem;
}


input[type=submit] {
    width: 5.5rem;
    background: #4aaaa5;
    color: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.spacer {
    height: 3rem;
}