body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url(images/mekong-green.png);
}

#name,
#about,
#portfolio,
#contact,
.container h4,
.container h3
 {
    /* font-family: 'Georgia', 'Times New Roman', Times, serif; */
    font-family: 'Muli', sans-serif;
    color: #c7dbcf;
}

#name {
    text-align: center;
}

.container h3 {
    background-color: #777777;
    color: white;
    width: 25rem;
    height: 6rem;
    line-height: 6rem;
    margin: 0;
}

#about,
#portfolio,
#contact {
    color: #777777;
}

.footer {
    border-top: 0.5rem solid #c7dbcf;
    background-color: #777777;
    height: 4rem;
}

.footer h6 {
    color: #cccccc;
    line-height: 4rem;
    font-size: 0.5rem;
}

nav {
    border-bottom: 4px solid #777777;
}

.bio {
    line-height: 2rem;
}

nav .container {
    width: 60rem;
}

.pics {
    background: #777777;
    position: relative;
    width: 100%;
    max-width: 300px;
}

.pics h4 {
    width: 100%;
    height: 31%;
    line-height: 180%;
    background: #777777;
    color: #c7dbcf;
    position: absolute;
    bottom: 5%;
}


input[type=submit] {
    width: 5.5rem;
    background: #c7dbcf;
    color: #777777;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.spacer {
    height: 3rem;
}